@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: "Glancyr";
   src: url("./fonts/Glancyr-Regular.otf");
}

@font-face {
   font-family: "Glancyr";
   src: url("./fonts/Glancyr-ThinItalic.otf") format("opentype");
   font-weight: 100;
   font-style: italic;
}

@font-face {
   font-family: "Glancyr";
   src: url("./fonts/Glancyr-Bold.otf") format("opentype");
   font-weight: 700;
   font-style: bold;
}

@font-face {
   font-family: "Glancyr";
   src: url("/fonts/Glancyr-BoldItalic.otf") format("opentype");
   font-weight: 700;
   font-style: italic;
}

@font-face {
   font-family: "Glancyr";
   src: url("/fonts/Glancyr-ExtraLight.otf") format("opentype");
   font-weight: 200;
   font-style: normal;
}

@font-face {
   font-family: "Glancyr";
   src: url("/fonts/Glancyr-ExtraLightItalic.otf") format("opentype");
   font-weight: 200;
   font-style: italic;
}

@font-face {
   font-family: "Glancyr";
   src: url("/fonts/Glancyr-Italic.otf") format("opentype");
   font-weight: 400;
   font-style: italic;
}

@font-face {
   font-family: "Glancyr";
   src: url("/fonts/Glancyr-Light.otf") format("opentype");
   font-weight: 300;
   font-style: normal;
}

@font-face {
   font-family: "Glancyr";
   src: url("/fonts/Glancyr-LightItalic.otf") format("opentype");
   font-weight: 300;
   font-style: italic;
}

@font-face {
   font-family: "Glancyr";
   src: url("/fonts/Glancyr-Medium.otf") format("opentype");
   font-weight: 500;
   font-style: normal;
}

@font-face {
   font-family: "Glancyr";
   src: url("/fonts/Glancyr-MediumItalic.otf") format("opentype");
   font-weight: 500;
   font-style: italic;
}

@font-face {
   font-family: "Glancyr";
   src: url("/fonts/Glancyr-SemiBold.otf") format("opentype");
   font-weight: 600;
   font-style: normal;
}

@font-face {
   font-family: "Glancyr";
   src: url("/fonts/Glancyr-SemiBoldItalic.otf") format("opentype");
   font-weight: 600;
   font-style: italic;
}

@font-face {
   font-family: "Glancyr";
   src: url("/fonts/Glancyr-Thin.otf") format("opentype");
   font-weight: 100;
   font-style: normal;
}

* {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
   color: white;
}

body {
   /* background-color: #1e0221; */
   background-color: #fff;
   font-family: "Bricolage Grotesque";
   height: auto;
}

.bricolage {
   font-family: "Bricolage Grotesque" !important;
}

footer {
   /* height: 600px; */
   height: auto;
   width: 100%;
   bottom: 0;
   background-color: #37083c;
   /* margin-top: 100px; */
}

h1,
h2,
h3,
.glancyr {
   font-family: "Glancyr", sans-serif;
}

.buttons {
   border-radius: 100px;
   font-family: "Bricolage Grotesque";
}

.arrow-button {
   padding: 10px;
}

.header {
   color: #1E0221;
   width: 1240px;
   height: 100px;
   top: 48px;
   border-radius: 100px;
   position: absolute;
   margin: auto 14px;
   border-radius: 100px;
   background: #fff;
   /* mix-blend-mode: overlay; */
}

.header-new {
   color: #1E0221;
   width: 1240px;
   height: 100px;
   /* top: 48px; */
   border-radius: 100px;
   /* position: absolute; */
   margin: auto 14px;
   border-radius: 100px;
   background: #fff;
   /* mix-blend-mode: overlay; */
}

/* Custom Mobile */
@media screen and (max-width:760px) {
   .header-new {
      color: #1E0221;
      width: 100%;
      height: auto;
      border-radius: 50px;
      margin: auto 1px;
      background: #fff;
      justify-content: space-between !important;
   }
   
   .nav-links {
      font-size: 14px;
   }
   
   .buttons {
      font-size: 14px;
      height: auto !important;
      padding: 15px 15px !important;
   }
   
   #waitlist-form {
      margin: auto 10px;
   }
   
   .input-field-div {
      display: block !important;
   }
   
   .waitlist-input-left, .waitlist-input-right {
      /* border-bottom-left-radius: 0px;
      border-top-left-radius: 0px; */
      border-radius: 30px !important;
      font-size: 16px !important;
      padding-top: 20px;
      padding-bottom: 20px;
      margin: 10px auto
   }
   
   
}

/* Hide the default checkbox */

input[type="checkbox"] {
   scale: 1 !important; 
   transform: none !important;
   padding: 8px;
}

.custom-checkbox {
   appearance: none;
   -webkit-appearance: none; /* Safari and WebKit browsers */
   -moz-appearance: none;    /* Firefox browsers */
   width: 16px;
   height: 16px;
   border: 2px solid #000;  /* Border color */
   border-radius: 4px;      /* Rounded corners if needed */
   background-color: #fff;  /* Inner background set to white */
   cursor: pointer;
 }
 
 /* Add a checkmark when the checkbox is checked */
 .custom-checkbox:checked {
   background-color: none;  /* Keep background white when checked */
   position: relative;
 }
 
 .custom-checkbox:checked::after {
   content: '✔';            /* Checkmark symbol */
   font-size: 14px;
   color: #fff;             /* Color of the checkmark */
   position: absolute;
   top: 1px;
   left: 2px;
 }

.blog-header {
   color: white;
   width: 1640px;
   height: 100px;
   top: 48px;
   border-radius: 100px;
   position: absolute;
   margin: auto 14px;
   border-radius: 100px;
   background: #56021f;
   /* mix-blend-mode: overlay; */
}

.nav-links {
   color: #1E0221;
   background-color: transparent;
}

.header-button {
   /* background: linear-gradient(
      180deg,
      #690571 0%,
      rgba(250, 100, 0, 0.5) 277.78%
   ); */
   background-color: #E84500;
   color: white;
   display: flex;
   width: auto;
   height: 72px;
   padding: 24px 20px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   flex-shrink: 0;
}

.flyer-button {
   background-color: #E84500;
   color: white;
   height: 55px;
   padding: 20px;
   text-align: center;
   line-height: 1;
}

.join-button1 {
   border-radius: 100px;
   border: 1px solid #E84500;
   background: #E84500;
   font-weight: 900;
   color: white;
}

.join-button2 {
   border-radius: 100px;
   border: 1px solid #fff;
   background: #fff;
   font-weight: 900;
   color: #690571;
}

.chub-playground {
   /* clip-path: inset(5% 0 0 0); */
   /* margin-top: -100px; */
}

.download-button {
   border-radius: 100px;
   border: 1px solid #690571;
   background: #33023b;
}

.divided-grid {
   padding-bottom: 35px;
   padding-right: 36px;
   border-top-right-radius: 30px;
   border-bottom-right-radius: 30px;
   color: white !important;
   font-size: 56px;
}

@keyframes slideAnimation {
   0%,
   100% {
      transform: translateX(0);
   }
   50% {
      transform: translateX(-350px);
   }
}

.carousel {
   animation: slideAnimation 10s ease-in-out infinite;
}

.mini-features {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 2rem;
   align-items: center;
   border-radius: 30px;
}

.mini-features img {
   width: 44px;
   padding: 10px;
   border-radius: 50%;
}

@media screen and (max-width: 768px) {
   .mini-features {
      display: flex;
      justify-content: center;
      padding: 1rem;
      flex-direction: column;
      font-size: 0.6rem;
      border-radius: 10px;
   }
}

.waitlist-input-right {
   background-color: white;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   color: black !important;
   font-size: 20px;
   padding-left:45px;
   padding-right:30px;
}

.waitlist-input-left {
   background-color: white;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
   color: black !important;
   font-size: 20px;
   padding-left:45px;
   padding-right:30px;
}

input[type="checkbox"] {
   width: 18px;
   height: 18px;
   transform: scale(1.5); /* Scale up the size of the checkbox */
   background-color: transparent; /* Transparent background */
   border-radius: 4px;
   border: 1px solid #fff; /* Optional border style */
   cursor: pointer;
}

.mid-section-grade {
   /* background: linear-gradient(
      180deg,
      #f8f2b8 0%,
      #000 137.78%
   ); */
   background: linear-gradient(180deg, #FFFFFF 0%, #FBF0FC 100%);
}

.active-accord{
   /* background-color: #fff; */
   background-color: #faf5ff;
}

.inactive-accord{
   background-color: #fff;
}

#slider1 {
   background: linear-gradient(
      180deg,
      #f8f2b8 0%,
      #000 137.78%
   );
   transition: all 800ms ease-in-out;
}

#slider2 {
   background: #686149;
   transition: all 800ms ease;
}

#slider3inner {
   /* background: linear-gradient(180deg, #554E3B -27.94%, rgba(85, 78, 59, 0.825) 20.13%, rgba(85, 78, 59, 0) 99.99%, rgba(255, 255, 255, 0) 100%); */
   background: #686148;
   transition: all 800ms ease;
   opacity: 0.9;
}

#slider3 {
   background-image: url("assets/img/Group221.png");
   background-size: contain;
   background-position: center;
   background-repeat: no-repeat;
   overflow: hidden;
   opacity: 1;
}

#slider4 {
   /* background: #fff9b7; */
   background: linear-gradient(
      180deg,
      #f8f2b8 0%,
      #000 137.78%
   );
   transition: all 800ms ease;
}


/* .hidden {
   opacity: 0;
   visibility: hidden;
 }

 .visible {
   opacity: 1;
   visibility: visible;
 } */

.sliders-active {
   height: 5px;
   border-radius: 5px;
   padding: 3px auto 3px auto;
   display: block;
   background: black; 
   width: 250px;
}

/* Custom Class Css */

.white-bg {
   background: #fff !important; 
}

.white-text {
   color: #fff !important;
}

.dela-gothic-one-regular {
   font-family: "Dela Gothic One", sans-serif !important;
   font-weight: 400;
   font-style: normal;
 }
 
 

.sliders-inactive {
   height: 5px;
   border-radius: 5px;
   padding: 3px auto 3px auto;
   display: block;
   background: #B1AB6D; 
   width: 250px;
}

.sliders-text-active {
   color: black;
}

.sliders-text-inactive {
   color: #B1AB6D;
   text-align: center;
}

#why-beta {
   background: url("assets/img/Group1000011280.png") no-repeat right;
   background-size: contain;
}

.cywwc {
   /* background-color:#3c0210; */
   background-image: linear-gradient(0deg, #3c020f 28%, #7d2315 80%);
   /* background-blend-mode: color-dodge; */
}